html {
	padding: 0;
	margin: 0;
	font-size: 16px;
	background-color: #fafafa;
	font-family: "Arima Madurai", cursive;
}

header {
	height: 100vh;
	background: url(../images/hero-image.jpg) no-repeat bottom left fixed;
	background-size: cover;
	font-family: "Arima Madurai", cursive;
}

h1,
h2 {
	font-family: "Arima Madurai", cursive;
	text-transform: uppercase;
}
.opaque-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

/*----------------------- BUTTONS */

.btn {
	width: 16rem;
	padding: 1rem;
	margin: 1rem 2rem;
	border: solid #e17131 2px;
	border-radius: 5rem;
	transition: 0.5s;
}

.btn--signup {
	background-color: #e17131;
}

.btn--more {
	background-color: #fafafa;
}

.btn--more:hover,
.btn--more:active,
.btn--signup:hover,
.btn--signup:active {
	background-color: #ffcb97;
}

/*----------------------- HOME PAGE */

.nav-container {
	border: 0;
	padding-left: 0;
	padding-right: 0;
}

.navbar {
	padding: 0 2rem;
	position: absolute;
	border: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 1;
}

.navbar .navbar-toggler {
	border: 0;
}

.nav--text a {
	padding: 0;
	font-size: 1.6rem;
	margin-left: 2rem;
	transition: 0.5s;
	border-color: transparent;
}

.nav--text a:hover,
.nav--text a:active {
	border-bottom: solid #e17131 1px;
}

.logo--text {
	font-size: 2rem;
}

.navbar img {
	margin: 0;
	padding: 0;
	width: 10rem;
}

.hero--text {
	color: #fafafa;
	text-transform: uppercase;
	font-size: 3rem;
	margin-bottom: 4rem;
}

.hero--small {
	color: #fafafa;
}

.hero-text-container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*----------------------- ABOUT */

#about {
	height: 50vh;
}

/*----------------------- MEDIA QUERIES */

@media screen and (max-width: 992px) {
	.navbar img {
		width: 8rem;
	}

	.nav--text a:hover,
	.nav--text a:active {
		border-bottom: none;
	}
}

@media screen and (max-width: 576px) {
	.hero--text {
		font-size: 2rem;
		margin-bottom: 1.6rem;
	}
}
